nav {
  @include nav;

  @include mobile {
    ul {
      flex-direction: column;
      gap: 1rem;
    }
  }
}

ul {
  @include flex-center; // alignement horizontal
  gap: 2rem;
  list-style: none;
  padding: 0;
  margin: 0;

a {
  color: $light;
  font-weight: bold;
  text-decoration: none;

  &.active {
    color: $primary;
  }

  &:hover {
    text-decoration: underline;
  }
 }
}
